<!DOCTYPE html>
<html lang='en'>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agileng | Homepage</title>
	<link rel="stylesheet" type="text/css" href="vendor/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="vendor/css/Grid.css">
	<link rel="stylesheet" type="text/css" href="vendor/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	<link rel="stylesheet" type="text/css" href="resources/css/queries.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<div class='row'>
				<img src="resources/img/logo_sm.png" alt="Agileng small logo" class='logo'>
				<p class='logo-txt'><span class='green'>Agil</span>Eng</p>
				<ul class='main-nav'>
					<li><a href="#">About</a>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>
		</nav>
		<div class="hero-text-box">
			<img src="resources/img/logo.png">
			<p class="brand-txt"><span class="green">Agil</span>Eng</p>
			<h1><span class='green'>Lean &amp; Mean</span> Engineering</h1>
			<a class="btn btn-special" href="#">Learn More!</a>
			<a class="btn btn-std" href="#">Join Us!</a>
		</div>
	</header>
	<section class="section-services">
		<div class="row">
			<h2>We live and breathe technology</h2>
			<p class='long-copy'>Hi, we are Agileng. A multidisciplinary team made up by experienced professionals. We deliver cutting-edge engineering solutions and we are proud about it. Our services include end-to-end system design and development, systems integration, prototyping and much more.</p>
		</div>
		<div class="row">
			<div class="col span-1-of-3 box">
				<i class="ion-clipboard green icon-lg"></i>
				<h4>Consulting</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col span-1-of-3 box">
				<i class="ion-gear-b green icon-lg"></i>
				<h4>Engineering</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col span-1-of-3 box">
				<i class="ion-refresh green icon-lg"></i>
				<h4>Product Development</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</section>
	<section class="section-skills">
		<ul class="skills-showcase">
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/1.gif" alt='mern stack web development'>
					<div class="overlay">
    					<div class="overlay-text">Modern Web and Mobile Application development using the <a href="https://www.mongodb.com/blog/post/the-modern-application-stack-part-1-introducing-the-mean-stack">MERN</a> stack and the Javascript programming language</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/2.jpg" alt='nvidia tegra supercomputing'>
					<div class="overlay">
    					<div class="overlay-text">Real-Time Embedded Machine Learning and Machine Vision Applications built on the <a href="https://devblogs.nvidia.com/parallelforall/jetson-tx2-delivers-twice-intelligence-edge/">NVIDIA Tegra</a> Mobile Supercomputing Processors</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/3.jpg" alt='python machone learning'>
					<div class="overlay">
    					<div class="overlay-text">Machine Learning Applications built on the Python Language and Libraries</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/4.jpg" alt='embedded systems design'>
					<div class="overlay">
    					<div class="overlay-text">Embedded System Design and Development for Mission Critical and Resource Constraint Applications</div>
  					</div>
				</figure>
			</li>
		</ul>
		<ul class="skills-showcase">
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/5.jpg" alt='industrial automation'>
					<div class="overlay">
    					<div class="overlay-text">Industrial Automation Implementations using Off-The-Shelf Components or Custom Solutions</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/6.jpg" alt='medical software'>
					<div class="overlay">
    					<div class="overlay-text">Medical Software and Medical Device Development or Consulting in Interoperability, Regulatory Compliance</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/7.jpg" alt='mining technologies'>
					<div class="overlay">
    					<div class="overlay-text">Mining Technology and Automation Solutions, Project Management, Design and Consulting</div>
  					</div>
				</figure>
			</li>
			<li>
				<figure class='skill-photo'>
					<img src="resources/img/8.jpg" alt='agile methodology'>
					<div class="overlay">
    					<div class="overlay-text">We use the <a href="https://www.versionone.com/agile-101/">Agile Methodology</a> in the Project Lifecycle to ensure Customer Satisfaction and Quality</div>
  					</div>
				</figure>
			</li>
		</ul>
	</section>
	<section class="section-locations">
		<div class="row">
			<h2>Innovation knows no borders</h2>
			<p class='long-copy'>We are a global Agile team. We work remotely. We operate globally. We harness the Cloud to deliver better quality, faster and be in continuous contact with our clients and partners. Our main office is located in... </p>
		</div>
		<div class="row">
			<div class="col span-1-of-2">
				<div id="map1"></div>
			</div>
			<div class="col span-1-of-2">
				<h3 class='city'>Thessaloniki, GR</h3>
				<img class='city-flag' src="resources/img/if_Grecee_298418.png">
				<div class="city-feature clear">
					<i class='ion-ios-location'></i>
					Strati Tsirka 7, Triadi Thessalonikis, 57001, GREECE
				</div>
				<div class="city-feature">
					<i class='ion-ios-telephone'></i>
					+302310478127
				</div>
				<div class="city-feature">
					<i class='ion-ios-email'></i>
					<a href="mailto:info@agileng.net">info@agileng.net</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section-partners">
		<div class="row">
			<h2>Get Added Value from your Partnership with Us</h2>
		</div>
		<div class="row">
			<div class="col span-1-of-2">
				<div class="partner-box">
					<div>
						<h3>Stakeholders</h3>
						<p class="partner-text">Trust your project in Agileng and get:</p>	
					</div>
					<div>
						<ul>
							<li><i class="ion-checkmark icon-list"></i>Transparent Design Process</li>
							<li><i class="ion-checkmark icon-list"></i>Deep Customer Involvement</li>
							<li><i class="ion-checkmark icon-list"></i>Frequent Deliverables</li>
							<li><i class="ion-checkmark icon-list"></i>Competitive Pricing</li>
						</ul>
					</div>
					<div>
						<a href="#" class="btn btn-special">Submit your Project!</a>
					</div>
				</div>
			</div>
			<div class="col span-1-of-2">
				<div class="partner-box">
					<div>
						<h3>Team Members</h3>
						<p class="partner-text">Commit your talent to Agileng and get:</p>	
					</div>
					<div>
						<ul>
							<li><i class="ion-checkmark icon-list"></i>Cutting Edge Projects</li>
							<li><i class="ion-checkmark icon-list"></i>Ability to Work Remotely</li>
							<li><i class="ion-checkmark icon-list"></i>Flexible Compensation Packages</li>
							<li><i class="ion-checkmark icon-list"></i>Friendly Team Culture</li>
						</ul>						
					</div>
					<div>
						<a href="#" class="btn btn-special">Join the Team!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-form">
		<div class="row">
			<h2>Get in Contact with the Agileng Team</h2>
		</div>
		<div class="row">
			<form action="/contact" method="POST" class="contact-form">
				<div class="row">
					<div class="col span-1-of-3">
						<label for="name">Name:</label>
					</div>
					<div class="col span-2-of-3">
						<input type="text" name="name" id="name" placeholder="Your name" required>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label for="email">Email:</label>
					</div>
					<div class="col span-2-of-3">
						<input type="email" name="email" id="email" placeholder="Your email" required>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label for="country">Country:</label>
					</div>
					<div class="col span-2-of-3">
						<select name="country" id="country">
							
							<% for(var i = 0; i<countries.length ; i++) { %>
                        		<% if (countries[i].code == 'GR') { %>
                        			<option value="<%= countries[i].code %>" selected><%= countries[i].name %></option>
                        		<% } else { %> 
                        			<option value="<%= countries[i].code %>"><%= countries[i].name %></option>
                        		<%	} %>
							<% } %>
                        </select>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label for="reason">Message subject:</label>
					</div>
					<div class="col span-2-of-3">
						<select name="reason" id="reason">
                        	<option value="project" selected>Project Proposal</option>
                        	<option value="services">Request Agileng Services</option>
                        	<option value="join">Join Agileng Team</option>
                        	<option value="info">Information Inquiry</option>
                        	<option value="other">Other</option>
                        </select>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>Newsletter:</label>
					</div>
					<div class="col span-2-of-3">
						<input type="checkbox" name="news" id="news" checked>Yes
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>Message:</label>
					</div>
					<div class="col span-2-of-3">
						<textarea name="message" placeholder="Your message"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>&nbsp;</label>
					</div>
					<div class="col span-2-of-3">
						<div class="g-recaptcha" data-sitekey="6Ler0DIUAAAAAMucslu9MTq7pjd1OKTxzFnVtH-N"></div>
					</div>
				</div>
				<div class="row">
					<div class="col span-1-of-3">
						<label>&nbsp;</label>
					</div>
					<div class="col span-2-of-3">
						<input type="submit" value="Send it!" class='btn btn-special'>
					</div>
				</div>
			</form>
		</div>
	</section>
	<footer>
		<div class="row">
			<div class="col span-1-of-2">
				<ul class="footer-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col span-1-of-2">
				<ul class="social-nav">
					<li><a href="https://www.linkedin.com/company/11313011/"><i class="ion-social-linkedin"></i></a></li>
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-youtube"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
				</ul>
			</div>
		</div>
		<div calss="row">
			<p>Copyright &copy; <%= date.getFullYear() %> by Agileng</p>
		</div>
	</footer>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap" type="text/javascript">
    </script>
	<script src="resources/js/script.js"></script>
</body>
</html>